db.sqlite3


# Migration files
Paymagics_Admin/migrations/*.py
Paymagics_Admin/migrations/__pycache__/*.pyc

Paymagics_Payor/migrations/*.py
Paymagics_Payor/migrations/__pycache__/*.pyc

Paymagics_PayorStaff/migrations/*.py
Paymagics_PayorStaff/migrations/__pycache__/*.pyc

Bank/migrations/*.py
Bank/migrations/__pycache__/*.pyc

.env
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
.DS_Store
.idea/
.vscode/
*.logs
logs/